
/*
 *  @author Luma Prod - Pierre Cosmao Dumanoir
 *  @copyright  2003-2025 | Luma Prod - Pierre Cosmao Dumanoir
 *  @version  Release: 3
 */

 	/* --------------------------------------------------------- */ 
	/* FONTS */
	/* --------------------------------------------------------- */


		@font-face {
		font-family: 'AvenirNextLTPro-Regular';
		src: url('/fonts/AvenirNextLTPro-Regular.otf')  format('opentype'),
				url('/fonts/AvenirNextLTPro-Regular.woff') format('woff'), url('/fonts/AvenirNextLTPro-Regular.ttf')  format('truetype');
		font-weight: normal;
		font-style: normal;
			font-display: swap;
		}

		@font-face {
		font-family: 'AvenirNextLTPro-Demi';
		src: url('/fonts/AvenirNextLTPro-Demi.otf')  format('opentype'),
				url('/fonts/AvenirNextLTPro-Demi.woff') format('woff'), url('/fonts/AvenirNextLTPro-Demi.ttf')  format('truetype');
		font-weight: normal;
		font-style: normal;
			font-display: swap;
		}

		@font-face {
		font-family: 'AvenirNextLTPro-italic';
		src: url('/fonts/AvenirNextLTPro-italic.woff') format('woff'), url('/fonts/AvenirNextLTPro-italic.ttf')  format('truetype');
		font-weight: normal;
		font-style: normal;
			font-display: swap;
		}